.brands__heading {

}
.brands {
  @include make-row();
  .brand__item {
    margin: 0 auto;
    @include make-col(12);
    @include bp(m) {
      @include make-col(6);
    }
    @include bp(l) {
      @include make-col(4);

    }

    .brand__name {
      text-align: center;
    }
    .brand__description {

    }
    .brand__image {
      max-width: 100%;
      max-height: 200px;

    }
  }
}
