// Glyphicons font path
$fa-font-path: "~font-awesome/fonts";
$icon-font-path: "../fonts/";

// Images
$img-admin-path: "../images/admin/";
$img-path: "../images/";

// Grid settings
$main-sm-columns: 12;
$sidebar-sm-columns: 4;

// Colors
$brand-primary: #27ae60;

// Paths
$styles-admin-path: "../../images/admin/";
$styles-path: "../../images/";
$font-path: "../fonts/";

// Font Sizes
$size-zero: 0.750em; // 12px
$size-one: 0.8125em; // 13px
$size-two: 0.875em; // 14px
$size-three: 1.000em; // 16px
$size-four: 1.125em; // 18px
$size-five: 1.250em; // 20px
$size-six: 1.375em; // 22px
$size-seven: 1.5625em; // 25px
$size-eight: 1.750em; // 28px
$size-nine: 1.875em; // 30px
$size-ten: 2.250em; // 36px
$size-eleven: 2.500em; // 40px
$size-twelve: 2.625em; // 42px
$size-thirteen: 3.000em; // 48px
$size-fourteen: 4.0625em; // 65px
$size-fifteen: 7.5em; // 120px

// Letter Spacings
$ls-zero: 0em;
$ls-one: 0.01em;
$ls-two: 0.02em;
$ls-three: 0.03em;
$ls-four: 0.05em;
$ls-five: 0.06em;
$ls-six: 0.08em;
$ls-seven: 0.1em;

// Line Heights
$lh-zero: 0.94em;
$lh-one: 1em;
$lh-two: 1.1em;
$lh-three: 1.2em;
$lh-four: 1.3em;
$lh-five: 1.4em;
$lh-six: 1.5em;
$lh-seven: 1.85em;